body {
  margin: 0;
  border: 0;
  padding: 0;
}

.icon {
  font-size: 40px;
  color: black;
  padding-top: 20%;
}
.icon:hover {
  color: #a533ff;
}

.center {
  text-align: center;
}

.paragraphIcon {
  grid-column: 1 / span 2;
}
